img{
    width: 100px;
    border-radius: 1000px;
}
button
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: -50%;
}
p{

    color: black;
    font-size: larger;
    text-align: center;
}
.bg
{
    height: 100%;
    background-color: #cccccc;
    background-image: url("images/wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;

}
